html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.whole_thing {
    background: url("../images/whoIsBehind2.png") bottom/150% auto no-repeat;
    width: 100%;
    height: 80.5vh;
}

#card-body {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
}

.big-box {
    box-shadow: 
    0 0 10vw 0vw #FF773C,
    0 0  2vw  0.4vw #C53C00,

    inset 0 0 0.5vw 0.2vw #FF773C,
    inset 0 0 0.2vw 0.2vw #FF550B,
    inset 0 0 0.25vw 0.2vw #C53C00;
}

.top {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-write-secret {
    font-size: 2.5vh;
}

.title-secrets-enabled {
    font-size: 3vh;
}

.title-secrets-disabled {
    font-size: 3vh;
}

.not_shown{
    width: 65%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.body-main {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addSecretOrPlay-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total_secrets {
    padding-bottom: 2.25%;
    font-size: 3.5vh;
}

.add_secret {
    height: 33%;
    padding-top: 2.5%;
}

.list_secrets {
    height: 34%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

form {
    height: 33%;
    padding-top: 2.5%;
}

.zone-secrets-enabled {
    margin-bottom: 10%;
}

td {
    padding-bottom: 2.5%;
}

.poubelle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success_secret {
    height: 10%;
}

.choices {
    height: 90%;
}

.total-secrets {
    height: 15%;
}

.buttons-list {
    height: 85%;
}

#btn_add_secret {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(77% + 1vw);
}

#btn_list_secrets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: calc(88% + 1vw);
}

#btn_play_game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% + 1vw);
}

.play_game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.form-control{
    background-color: #000;
    color: #FF550B;
}

.form-control:focus {
    background-color: #000;
    color: #FF550B;
}

.form-control::placeholder {
    color: #FF550B;
}

#addon-wrapping {
    color: #000;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}