h3, div {
    text-align: center;
}

.confirm {
    padding-top: 50px;
    padding-bottom: 30px;
}

.left, .right {
    width: 25%;
}

.main_title {
    text-decoration: none;
}

.user_input {
    padding-top: 30px;
}

.middle {
    padding-top: 100px;
    padding-top: 20px;
}