h3, div {
    text-align: center;
}

#mySecret {
    min-height: 12vh;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container {
    width: 70%;
}

/* .container {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 80%;
    height: 75%;
    margin-left: -10px;
    margin-top: -10px;
} */

.whole_thing .infos {
    background-color: transparent;
}

.whole_thing {
    width: 100vw;
    height: 51.5vh;
}

#card-body {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 100%;
}

.left {
    width: 30%;
    height: 100%;
    padding: 1em;
}

.right {
    width: 70%;
    height: 100%;
    padding: 1em;
}

.confirm {
    /* padding-top: 50px;
    padding-bottom: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-spacing: 100vw;
}

.gameTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main_title {
    text-decoration: none;
    line-height: 13vh;
    opacity: 70%;
    font-size: 4vw;
}

.username_input {
    padding-top: 3%;
    height: 20%;
}

.secret_input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 5%;
    height: 40%;
}

.middle {
    padding-top: 100px;
    padding-top: 20px;
}

.title, .infos {
    min-height: 100%;
}

.infos {
    border: none;
    height: 100%;
}

#infos-body {
    height: 100%;
    padding: 0rem;
}

form {
    height: 100%;
}

.file-lock {
    height: auto;
}

.column-portrait {
    display: flex;
    flex-direction: column;
}

.title {
    background: url("../images/whoIsBehind.jpg") top/100% auto no-repeat;
    background-size: cover; 
    height: 100%;
}

.form-control{
    background-color: #000;
    color: #FF550B;
}

.form-control:focus {
    background-color: #000;
    color: #FF550B;
}

.form-control::placeholder {
    color: #FF550B;
}

.big-box {
    box-shadow: 
    0 0 10vw 0vw #FF773C,
    0 0  2vw  0.4vw #C53C00,

    inset 0 0 0.5vw 0.2vw #FF773C,
    inset 0 0 0.2vw 0.2vw #FF550B,
    inset 0 0 0.25vw 0.2vw #C53C00;
}

#addon-wrapping {
    color: #000;
}

#btn_sendform {
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}