h1, h3, .start_game, #droppable-player, .result_button, h4 {
    text-align : center;
}

.start_game {
    padding-top: 20px; 
}

.main_title {
    text-decoration: none;
}

.players-list {
    width: inherit;
}

.players {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.player {
    text-align: center;
    /*z-index: 10;*/
    flex-grow: 1;
    flex-basis: 200;
}

.guess_secret {
    z-index:0;
    height : 150;
}

#droppable-player {
    height:75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.correct {
    background-color: #D6FFC2;
}

.result_button {
    padding-top: 50px;
}

.current_player {
    width: 150px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.current {
    display: flex;
    justify-content: flex-end;
}

#progress-players {
    padding-bottom: 50px;
    padding-top: 50px;
}

#myLottie {
    height: 300px;
    display: flex;
    align-items: center;
}

.wait4 {
    display: flex;
    justify-content: space-between;
}

.wait4played {
    padding-left: 20px;
}