.result_message, .real_message_author, .leaderboard, .gain, .comments-leaderboard, .output, .last-title {
    text-align: center;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

/* .real_message_author {
    padding: 20px;
} */

.real_message_author, #results-answer, .message-found{
  font-size: 5vh;
}

.real_message_author {
  font-size: calc(2.5vh + 1vw);
}

#main_title {
  width: 63%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.left, .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.continue_button {
    height: 10%;
    display: flex;
    justify-content: center;
    /*text-align: right;
    padding-right: 50px;*/
}

.leaderboard {
    height: 35%;
    width: 90%;
}

.score {
    height: 5%;
    width: 90%;
}

.last-title {
    padding-bottom: 50px;
    padding-top: 25px;
}

#continue {
    width : 150px;
    height: 50px;
}

#end_title {
    width: 300px;
}

.wait4results {
    padding-left: 20px;
}

.big-box {
    box-shadow: 
    0 0 10vw 0vw #FF773C,
    0 0  2vw  0.4vw #C53C00,

    inset 0 0 0.5vw 0.2vw #FF773C,
    inset 0 0 0.2vw 0.2vw #FF550B,
    inset 0 0 0.25vw 0.2vw #C53C00;

    width: 88vw;
    height: 88vh;
}

#card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.body-main {
    height: 90%;
    display: flex;
    flex-direction: row;
}

.top {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.not_shown{
  width: 37%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.gain {
    height: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-leaderboard {
    height: 25%;
    width: 90%;
}

.main_title {
    text-decoration: none;
    font-size: 6vh;
}

.results {
    height: 64%;
    width: 90%;
    display: flex;
    align-items: center;
}

.results-card-body {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

h1, h3 {
  font-size: calc(2.5vh + 1vw);
}

.active {
    background-color: #FF550B !important; 
    color: black !important;
}

.leaderboard-container {
    height: 65%;
    margin-bottom: 6%;
    width: 100%;
}

#page-selection {
    height: 10%;
}

.wait4result {
    height: 30%;
    display: flex;
    align-items: center;
}

.loader_container {
    padding-right: 2%;
}

/*.leaderboard-title{
    border: none;
}*/

.pagination-container {
    width: 100%;
}

/* css for end screen */

.scoreboard__podium-rank {
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
}

h1 {
  text-align: center;
}

.number-holder {
  transition: all 500ms ease-in-out;
}

.scoreboard {
  border-radius: 5px;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  /*padding: 3rem 50px;*/
  flex-direction: column;
  padding-bottom: 5%;
}
.scoreboard__item {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  opacity: 0;
  top: 20px;
  transition: 500ms ease-in-out;
}
.scoreboard__item.is-visible {
  opacity: 1;
  top: 0;
  transition: 500ms ease-in-out;
}
.scoreboard__title {
  width: 300px;
  font-weight: 600;
}
.scoreboard__title small {
  color: #333;
}
.scoreboard__status {
  font-weight: 300;
}
.scoreboard__numbers {
  font-weight: 600;
  text-align: right;
  align-self: flex-end;
  margin-left: 20px;
  flex: 1;
}
.scoreboard__bar {
  width: 100%;
  margin-top: 1rem;
  background: #ececec;
  height: 10px;
  position: relative;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-basis: 100%;
}
.scoreboard__bar:before {
  content: "";
  width: 100%;
  flex-basis: 100%;
  clear: both;
  display: block;
}
.scoreboard__bar-bar {
  position: absolute;
  height: 10px;
  left: 0;
  top: 0;
  width: 0;
  border-radius: 5px;
  background: linear-gradient(to right, #f0cf65 0%, #ebc137 100%);
  transition: all 250ms ease-in-out;
}

.scoreboard__podiums {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*margin: 20px auto 100px auto;*/
  min-height: 310px;
}

.scoreboard__podiums .scoreboard__podium {
  /*margin: 0 20px;*/
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex-wrap: wrap;
  flex: 1;
  opacity: 0;
  top: -10px;
}
.scoreboard__podiums .scoreboard__podium.is-visible {
  top: 0;
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.scoreboard__podiums .scoreboard__podium-rank {
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0px;
}
.scoreboard__podiums .scoreboard__podium-base {
  height: 0;
  background: #ececec;
  color: #fff;
  min-width: 150px;
  border-radius: 5px;
  transition: all 1000ms ease-in-out;
  opacity: 0;
  position: relative;
}
.scoreboard__podiums .scoreboard__podium-base.is-expanding {
  opacity: 1;
}
.scoreboard__podiums .scoreboard__podium-base--first {
  background: linear-gradient(to bottom, #bd4f6c 0%, #9e3b55 100%);
}
.scoreboard__podiums .scoreboard__podium-base--second {
  background-color: #f0cf65;
  background: linear-gradient(to bottom, #f0cf65 0%, #ebc137 100%);
}
.scoreboard__podiums .scoreboard__podium-base--third {
  background-color: #5e9ead;
  background: linear-gradient(to bottom, #5e9ead 0%, #49828f 100%);
}
.scoreboard__podiums .scoreboard__podium-number {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}
.scoreboard__podiums .scoreboard__podium-number small {
  display: block;
  font-size: 60%;
  color: #333;
  line-height: 1.5;
}

.credits {
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
}

#scoreboard__items {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: decimal;
}

.oneup-audio {
  display: none;
}

.style-switch {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  font-size: 15px;
}

body.dark-mode {
  background: #111;
  color: #fff;
}
body.dark-mode .scoreboard {
  background: #111;
  color: #fff;
}
body.dark-mode .scoreboard small {
  color: #eee !important;
}
body.dark-mode .scoreboard__bar {
  background: #333;
}

.bump {
  -webkit-animation: bump 500ms ease-in-out;
          animation: bump 500ms ease-in-out;
}

@-webkit-keyframes bump {
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}

@keyframes bump {
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}


/**********************
* Editing last screen *
**********************/
.end-scoreboard {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.result_button {
  height: 10%;
}

#final_leaderbaord {
  display: flex;
  align-items: center;
  height: 35vh;
}

.score {
  width: 90%;
}

#game-finished-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end-title-comments {
  height : 30%;
}

.all_players {
  width: 105%;
  padding-left: 10%;
}

.end {
  height: 25%;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}

.comments {
  font-size: calc(2vh + 1vw);
}

.pagination-final-leaderboard {
  height: 10%;
}

.final-leaderboard-title {
  font-size: calc(2vh + 1vw);
}

.list-players {
  height: 70%;
}

.score {
  display: flex;
  font-size: calc(5px + 1vw);
  height: 5vh;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .scoreboard {
    width: 100%;
  }

  .scoreboard__podiums .scoreboard__podium-base {
    min-width: 75px;
  }

  .scoreboard__podiums .scoreboard__podium-rank {
    transform: translate(-50%, 0%);
  }

  .real_message_author, #results-answer, .message-found {
    font-size: 3vh;
  }
}

@media screen and (min-width: 900px) {
  .scoreboard {
    width: 50%;
  }

  .scoreboard__podiums .scoreboard__podium-base {
    min-width: 150px;
  }

  .scoreboard__podiums .scoreboard__podium-rank {
    transform: translate(-50%, -50%);
  }

  .real_message_author, #results-answer, .message-found {
    font-size: 5vh;
  }
}

#celebrationLottie {
  position: absolute;
  /*width: 10%;*/
  height: 90%;
  z-index: 1;
}