h1, .buttons, .user_input {
    text-align: center;
}

.buttons {
    padding-top: 20px;
}

.return {
    padding-right: 100px;
}

.confirm_button, .return {
    display: inline-block;
}

button {
    width: 150px;
    height: 60px;
    font-size: 20px;
}


textarea {
    width: 600px;
    height: 400px;
    line-break: normal;
    margin: auto;
}
